*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.heading{
	text-align: center;
	font-size: 175%;
	font-family: verdana, sans-serif;	
	font-weight: bold;
	margin: 20px;
}

.row{
	width: 100%	
}

.content{
	border: 2px solid black;
	padding: 10px;
	background-color: #a0a0a0;
	position: relative;

}

.box-heading{
	font-size: 125%;
	position: absolute;
	right: -2px;
	top: -2px;
	width: 30%;
	text-align: center;
	display: inline;
	background-color: white;
	border: 2px solid black;
}

.box-heading-1{
	background-color: #d59898;
}

.box-heading-2{
	background-color: #c14543;
}

.box-heading-3{
	background-color: #e5d198; 
}

.description{
	margin-top: 20px;
}
@media (min-width: 992px){
	.col-lg-4{
		float: left;
		padding: 10px;
		/*margin: 10px;*/
		/*background-color: black;*/
		width: 33.33%

	}
}

@media (max-width: 991px) and (min-width: 768px){
	.col-md-6{
		float: left;
		padding: 10px;
		width: 50%
	}

	.row .col-md-6:nth-child(3){
		width: 100%;
	}
}

@media(max-width: 767px){
	.col-sm-12{
		float: left;
		padding: 10px;
		width: 100%;
	}
}